<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <!--<tr th:each="element : ${}">-->
        <!--<td th:text="${element.key}">keyvalue</td>-->
        <!--<table>-->
            <!--<tr th:each="anews : ${element.value}">-->
                <!--<td th:text="${anews.title}">Some name</td>-->
                <!--<td th:text="${anews.description}">Some name</td>-->
                <!--<td th:text="${anews.url}">Some name</td>-->
                <!--<td th:text="${anews.logo}">Some name</td>-->
                <!--<td th:text="${anews.collectionDate}">Some name</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</tr>-->
</table>
</body>
</html>
